.colorheader {
    background-color: #0d0824; 
    color: #ffffff; 
  }



.espacioboton{
    margin-top: 10%;
}
.hola{
    height: 100%;
}

.colorx{
    background-color: #0d0824; 
    color: #ffffff; 


}

